version: 2
jobs:
  build-gimp-2-10:
    macos:
        xcode: "10.0.0"
      
    steps:
        - checkout
        - run:
            name: Setup rust
            command: curl https://sh.rustup.rs -sSf | sh -s -- -y                        
        - run:
            name: Setup jhbuild
            command: | 
              curl  https://raw.githubusercontent.com/samm-git/gtk-osx/gimp-2.10/gtk-osx-build-setup.sh | sh
              echo 'export PATH="$HOME/.cargo/bin:$PATH:$HOME/.local/bin"' > ~/.profile
              echo 'export ARCHFLAGS="-arch x86_64"' >> ~/.profile
              cat ~/.profile
            
        - run:
            name: Bootstrap
            command: source ~/.profile && jhbuild bootstrap  

workflows:
  version: 2
  build-different-versions:
    jobs:
      - build-gimp-2-10
 
