version: 2
jobs:
  build-gimp-2-10:
    macos:
        xcode: "10.0"
      
    steps:
        - checkout
        - run:
            name: Setup rust
            command: curl https://sh.rustup.rs -sSf | sh -s -- -y                        

workflows:
  version: 2
  build-different-versions:
    jobs:
      - build-gimp-2-10
 
