version: 2
jobs:
  build-gimp-2-10:
    macos:
        xcode: "10.0.0"
      
    steps:
        - checkout
        - run:
            name: Setup rust
            command: curl https://sh.rustup.rs -sSf | sh -s -- -y                        
        - run:
            name: Setup jhbuild
            command: | 
              curl  https://raw.githubusercontent.com/samm-git/gtk-osx/gimp-2.10/gtk-osx-build-setup.sh | sh
              echo 'export PATH="$HOME/.cargo/bin:$PATH:$HOME/.local/bin"' > ~/.profile
              echo 'export ARCHFLAGS="-arch x86_64"' >> ~/.profile
              cat ~/.profile
        # we need to make it automatically depended on the corresponding modules
        - restore_cache:
            keys: 
              - webkit-v1
              - gimp-v4
              - bootstrap-v5
        - run:
            name: Bootstrap
            command: source ~/.profile && jhbuild bootstrap && jhbuild build python python-six meta-gtk-osx-bootstrap
        - run:
            name: Cleanup
            command: find  ~/gtk/source -type d -mindepth 1 -maxdepth 1 | xargs -I% rm -rf %/*
        - save_cache:
            paths:
              - ~/gtk
            key: bootstrap-v5
        - run:
            name: Build all GIMP dependencies
            command: source ~/.profile && jhbuild build $(jhbuild info gimp|grep '^Requires:'|sed 's|^Requires:||'|tr -d ',')
        - run:
            name: Build all WebKit dependencies
            command: source ~/.profile && jhbuild build $(jhbuild info webkit|grep '^Requires:'|sed 's|^Requires:||'|tr -d ',')
        - run:
            name: Cleanup
            command: find  ~/gtk/source -type d -mindepth 1 -maxdepth 1 | xargs -I% rm -rf %/*
        - save_cache:
            paths:
              - ~/gtk
            key: gimp-v4
        - run:
            name: Build WebKit v1
            no_output_timeout: 1h
            command: source ~/.profile && jhbuild build webkit
        - run:
            name: Cleanup
            command: find  ~/gtk/source -type d -mindepth 1 -maxdepth 1 | xargs -I% rm -rf %/*
        - save_cache:
            paths:
              - ~/gtk
            key: webkit-v1
        - run:
            name: Build GIMP
            command:  source ~/.profile && jhbuild build gimp

workflows:
  version: 2
  build-different-versions:
    jobs:
      - build-gimp-2-10
 
