version: 2
jobs:
  build-gimp-2-10:
    macos:
        xcode: "10.0.0"
      
    steps:
        - checkout
        - run:
            name: Setup rust
            command: curl https://sh.rustup.rs -sSf | sh -s -- -y                        
        - run:
            name: Setup jhbuild
            command: | 
              curl  https://raw.githubusercontent.com/samm-git/gtk-osx/gimp-2.10/gtk-osx-build-setup.sh | sh
              echo 'export PATH="$HOME/.cargo/bin:$PATH:$HOME/.local/bin"' > ~/.profile
              echo 'export ARCHFLAGS="-arch x86_64"' >> ~/.profile
              cat ~/.profile
        # we need to make it automatically depended on the corresponding modules
        - restore_cache:
            keys: 
              - bootstap-v3
              - bootstap-v4
              - gimp-v1
              - gimp-v2
        - run:
            name: Bootstrap
            command: source ~/.profile && jhbuild bootstrap && jhbuild build python python-six meta-gtk-osx-bootstrap
        - save_cache:
            paths:
              - ~/gtk
            key: bootstap-v4
        - run:
            name: Build gimp and all it deps
            # Should we build deps-only first instead?
            command: source ~/.profile && jhbuild build webkit gimp
        - save_cache:
            paths:
              - ~/gtk
            key: gimp-v2

workflows:
  version: 2
  build-different-versions:
    jobs:
      - build-gimp-2-10
 
