version: 2
jobs:
  build-gimp-2-10:
    macos:
        xcode: "10.0.0"
      
    steps:
        - checkout
        - run:
            name: Cleanup /usr/local
            command: sudo rm -rf /usr/local/*
        - run:
            name: Setup rust
            command: curl https://sh.rustup.rs -sSf | sh -s -- -y                        
        - run:
            name: Setup jhbuild
            command: | 
              curl  https://gitlab.gnome.org/samm-git/gtk-osx/raw/fork-test/gtk-osx-build-setup.sh | sh
              echo 'export PATH="$HOME/.cargo/bin:$HOME/.local/bin:$PATH"' > ~/.profile
              echo 'export ARCHFLAGS="-arch x86_64"' >> ~/.profile
              cat ~/.profile
        - run:
            name: Setup gtk-mac-bundler
            command: | 
              cd ~/Source
              git clone https://github.com/jralls/gtk-mac-bundler
              cd gtk-mac-bundler
              make install
        # we need to make it automatically depended on the corresponding modules
        - restore_cache:
            keys: 
              - gimp-2.10.6-v4
              - webkit-v4
              - gimp-deps-v4
              - bootstrap-v9
        - run:
            name: Bootstrap
            command: source ~/.profile && jhbuild bootstrap && jhbuild build python python-six meta-gtk-osx-freetype meta-gtk-osx-bootstrap meta-gtk-osx-core
        - run:
            name: Cleanup
            command: find  ~/gtk/source -type d -mindepth 1 -maxdepth 1 | xargs -I% rm -rf %/*
        - save_cache:
            paths:
              - ~/gtk
            key: bootstrap-v9
        - run:
            name: Build all GIMP dependencies
            command: source ~/.profile && jhbuild build $(jhbuild info gimp|grep '^Requires:'|sed 's|^Requires:||'|tr -d ',')
        - run:
            name: Build all WebKit dependencies
            command: source ~/.profile && jhbuild build $(jhbuild info webkit|grep '^Requires:'|sed 's|^Requires:||'|tr -d ',')
        - run:
            name: Cleanup
            command: find  ~/gtk/source -type d -mindepth 1 -maxdepth 1 | xargs -I% rm -rf %/*
        - save_cache:
            paths:
              - ~/gtk
            key: gimp-deps-v4
        - run:
            name: Build WebKit v1
            no_output_timeout: 1h
            command: source ~/.profile && jhbuild build webkit
        - run:
            name: Cleanup
            command: find  ~/gtk/source -type d -mindepth 1 -maxdepth 1 | xargs -I% rm -rf %/*
        - save_cache:
            paths:
              - ~/gtk
            key: webkit-v4
        - run:
            name: Build GIMP
            command:  source ~/.profile && jhbuild build gimp
        - run:
            name: Cleanup
            command: find  ~/gtk/source -type d -mindepth 1 -maxdepth 1 | xargs -I% rm -rf %/*
        - save_cache:
            paths:
              - ~/gtk
            key: gimp-2.10.6-v4
        - run:
            name: Creating DMG package
            command: |
              source ~/.profile
              git checkout https://github.com/samm-git/gimp-osx-package
              cd gimp-osx-package
              jhbuild run ./build.sh
        - store_artifacts:
            path: /tmp/artifacts
            destination: builds

workflows:
  version: 2
  build-different-versions:
    jobs:
      - build-gimp-2-10
 
